.ButtonLoader {
  border: 1.7px solid #f9f9f944; /* Light grey */
  border-top: 1.7px solid #f9f9f9; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}