.LoginContent .Card {
  background-color: #f9f9f9;
  width: 100%;
  max-width: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 3px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.LoginContent .Card .CardHeader {
  width: 100%;
  max-width: 450px;
  background-color: #2274a5;
  margin: -25px auto 0;
  border-radius: 2px;
  display: block;
  color: #f9f9f9;
  padding: 15px 25px;
}

.LoginContent .Card .CardHeader h1 {
  font-weight: 300;
}

.LoginContent .Card .CardBody {
  margin: 15px 25px 25px;
  animation: fadeInRight 200ms ease-in-out;
}

.LoginContent .Card .CardBody input {
  width: 100%;
}

.LoginContent .Card .CardBody input + input {
  margin-top: 15px;
}

.LoginContent .Card .CardBody input[type="submit"] {
  background-color: #2274a5;
  color: #f9f9f9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 200ms;
}

.LoginContent .Card .CardBody input[type="submit"]:hover {
  filter: brightness(115%);
  transform: translateY(-4px);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
}

.LoginContent .Card .CardFooter {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 25px;
}

.LoginContent .Card .CardFooter .Pipe {
  display: block;
  background-color: #ccc;
  width: 1px;
}
